<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tower_01_x</key>
	<string>207</string>
	<key>tower_01_y</key>
	<string>213</string>
	<key>tower_02_x</key>
	<string>315</string>
	<key>tower_02_y</key>
	<string>142</string>
	<key>tower_03_x</key>
	<string>315</string>
	<key>tower_03_y</key>
	<string>285</string>
	<key>tower_04_x</key>
	<string>405</string>
	<key>tower_04_y</key>
	<string>142</string>
	<key>tower_05_x</key>
	<string>405</string>
	<key>tower_05_y</key>
	<string>285</string>
	<key>tower_06_x</key>
	<string>495</string>
	<key>tower_06_y</key>
	<string>142</string>
	<key>tower_07_x</key>
	<string>495</string>
	<key>tower_07_y</key>
	<string>285</string>
	<key>tower_08_x</key>
	<string>315</string>
	<key>tower_08_y</key>
	<string>213</string>
	<key>tower_09_x</key>
	<string>405</string>
	<key>tower_09_y</key>
	<string>213</string>
	<key>tower_10_x</key>
	<string>495</string>
	<key>tower_10_y</key>
	<string>213</string>
	<key>tower_11_x</key>
	<string>597</string>
	<key>tower_11_y</key>
	<string>142</string>
	<key>tower_12_x</key>
	<string>597</string>
	<key>tower_12_y</key>
	<string>285</string>
	<key>tower_13_x</key>
	<string>597</string>
	<key>tower_13_y</key>
	<string>213</string>
	<key>equip_tower_button_x</key>
	<string>615</string>
	<key>equip_tower_button_y</key>
	<string>52</string>
	<key>exit_tower_select_button_x</key>
	<string>693</string>
	<key>exit_tower_select_button_y</key>
	<string>316</string>
	<key>tower_word_x</key>
	<string>315</string>
	<key>tower_word_y</key>
	<string>50</string>
	<key>weapon_bg_x</key>
	<string>415</string>
	<key>weapon_bg_y</key>
	<string>173</string>
	<key>button_relative_x</key>
	<string>90</string>
	<key>button_relative_y</key>
	<string>35</string>
	<key>vip_logo_relative_x</key>
	<string>60</string>
	<key>vip_logo_relative_y</key>
	<string>64</string>
</dict>
</plist>
