<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gem1_x</key>
	<string>706</string>
	<key>gem1_y</key>
	<string>450</string>
	<key>gem2_x</key>
	<string>706</string>
	<key>gem2_y</key>
	<string>322</string>
	<key>gem3_x</key>
	<string>706</string>
	<key>gem3_y</key>
	<string>194</string>
	<key>gold1_x</key>
	<string>250</string>
	<key>gold1_y</key>
	<string>450</string>
	<key>gold2_x</key>
	<string>250</string>
	<key>gold2_y</key>
	<string>322</string>
	<key>gold3_x</key>
	<string>250</string>
	<key>gold3_y</key>
	<string>194</string>
	<key>back_button_x</key>
	<string>630</string>
	<key>back_button_y</key>
	<string>85</string>
	<key>free_coin_button_x</key>
	<string>333</string>
	<key>free_coin_button_y</key>
	<string>85</string>
	<key>code_button_x</key>
	<string>63</string>
	<key>code_button_y</key>
	<string>578</string>
	<key>shop_bg_x</key>
	<string>480</string>
	<key>shop_bg_y</key>
	<string>588</string>
	<key>word_relative_x</key>
	<string>195</string>
	<key>word_relative_y</key>
	<string>55</string>
	<key>buy_relative_x</key>
	<string>350</string>
	<key>buy_relative_y</key>
	<string>39</string>
	<key>price_relative_x</key>
	<string>237</string>
	<key>price_relative_y</key>
	<string>29</string>
	<key>gold_gem_relative_x</key>
	<string>112</string>
	<key>gold_gem_relative_y</key>
	<string>30</string>
	<key>gold_label_x</key>
	<string>754</string>
	<key>gold_label_y</key>
	<string>603</string>
	<key>stone_label_x</key>
	<string>754</string>
	<key>stone_label_y</key>
	<string>565</string>
	<key>title_x</key>
	<string>480</string>
	<key>title_y</key>
	<string>603</string>
	<key>huodongma_bg_x</key>
	<string>480</string>
	<key>huodongma_bg_y</key>
	<string>535</string>
	<key>huodongma_word_x</key>
	<string>350</string>
	<key>huodongma_word_y</key>
	<string>90</string>
	<key>enter_code_button_x</key>
	<string>650</string>
	<key>enter_code_button_y</key>
	<string>403</string>
	<key>cancel_code_button_x</key>
	<string>309</string>
	<key>cancel_code_button_y</key>
	<string>403</string>
	<key>textfield_relative_x</key>
	<string>72</string>
	<key>textfield_relative_y</key>
	<string>108</string>
	<key>button_relative_x</key>
	<string>90</string>
	<key>button_relative_y</key>
	<string>35</string>
	<key>tel_left_x</key>
	<string>293</string>
	<key>tel_left_y</key>
	<string>530</string>
	<key>email_right_x</key>
	<string>625</string>
	<key>email_right_y</key>
	<string>530</string>
	<key>email_center_x</key>
	<string>480</string>
	<key>email_center_y</key>
	<string>530</string>
</dict>
</plist>
