<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>back_to_main_button_x</key>
	<string>95</string>
	<key>back_to_main_button_y</key>
	<string>34</string>
	<key>back_next_buttonword_relative_x</key>
	<string>70</string>
	<key>back_next_buttonword_relative_y</key>
	<string>39</string>
	<key>intro_word_equip_magic_x</key>
	<string>88</string>
	<key>intro_word_equip_magic_y</key>
	<string>314</string>
	<key>magic_tower_button_x</key>
	<string>110</string>
	<key>magic_tower_button_y</key>
	<string>217</string>
	<key>logo_weapon_bg_x</key>
	<string>111</string>
	<key>logo_weapon_bg_y</key>
	<string>216</string>
	<key>volcano_button_x</key>
	<string>108</string>
	<key>volcano_button_y</key>
	<string>259</string>
	<key>ice_button_x</key>
	<string>108</string>
	<key>ice_button_y</key>
	<string>169</string>
	<key>wind_button_x</key>
	<string>108</string>
	<key>wind_button_y</key>
	<string>79</string>
	<key>magic_dikuang_x</key>
	<string>108</string>
	<key>magic_dikuang_y</key>
	<string>168</string>
	<key>shop_button_x</key>
	<string>689</string>
	<key>shop_button_y</key>
	<string>438</string>
	<key>enter_game_button_x</key>
	<string>705</string>
	<key>enter_game_button_y</key>
	<string>34</string>
	<key>upgrade_button_x</key>
	<string>670</string>
	<key>upgrade_button_y</key>
	<string>45</string>
	<key>strength_button_x</key>
	<string>347</string>
	<key>strength_button_y</key>
	<string>274</string>
	<key>speed_button_x</key>
	<string>347</string>
	<key>speed_button_y</key>
	<string>163</string>
	<key>repel_button_x</key>
	<string>479</string>
	<key>repel_button_y</key>
	<string>274</string>
	<key>fatal_button_x</key>
	<string>479</string>
	<key>fatal_button_y</key>
	<string>163</string>
	<key>multi_button_x</key>
	<string>619</string>
	<key>multi_button_y</key>
	<string>218</string>
	<key>defender_label_button_x</key>
	<string>108</string>
	<key>defender_label_button_y</key>
	<string>373</string>
	<key>wall_button_x</key>
	<string>268</string>
	<key>wall_button_y</key>
	<string>214</string>
	<key>wall_label_button_x</key>
	<string>286</string>
	<key>wall_label_button_y</key>
	<string>373</string>
	<key>mana_button_x</key>
	<string>294</string>
	<key>mana_button_y</key>
	<string>218</string>
	<key>fire1_button_x</key>
	<string>425</string>
	<key>fire1_button_y</key>
	<string>297</string>
	<key>fire2_button_x</key>
	<string>550</string>
	<key>fire2_button_y</key>
	<string>297</string>
	<key>fire3_button_x</key>
	<string>673</string>
	<key>fire3_button_y</key>
	<string>297</string>
	<key>ice1_button_x</key>
	<string>425</string>
	<key>ice1_button_y</key>
	<string>218</string>
	<key>ice2_button_x</key>
	<string>550</string>
	<key>ice2_button_y</key>
	<string>218</string>
	<key>ice3_button_x</key>
	<string>673</string>
	<key>ice3_button_y</key>
	<string>218</string>
	<key>wind1_button_x</key>
	<string>425</string>
	<key>wind1_button_y</key>
	<string>139</string>
	<key>wind2_button_x</key>
	<string>550</string>
	<key>wind2_button_y</key>
	<string>139</string>
	<key>wind3_button_x</key>
	<string>673</string>
	<key>wind3_button_y</key>
	<string>139</string>
	<key>magic_label_button_x</key>
	<string>463</string>
	<key>magic_label_button_y</key>
	<string>373</string>
	<key>select_fire1_button_x</key>
	<string>214</string>
	<key>select_fire1_button_y</key>
	<string>260</string>
	<key>select_fire2_button_x</key>
	<string>300</string>
	<key>select_fire2_button_y</key>
	<string>260</string>
	<key>select_fire3_button_x</key>
	<string>386</string>
	<key>select_fire3_button_y</key>
	<string>260</string>
	<key>select_ice1_button_x</key>
	<string>214</string>
	<key>select_ice1_button_y</key>
	<string>169</string>
	<key>select_ice2_button_x</key>
	<string>300</string>
	<key>select_ice2_button_y</key>
	<string>169</string>
	<key>select_ice3_button_x</key>
	<string>386</string>
	<key>select_ice3_button_y</key>
	<string>169</string>
	<key>select_wind1_button_x</key>
	<string>214</string>
	<key>select_wind1_button_y</key>
	<string>79</string>
	<key>select_wind2_button_x</key>
	<string>300</string>
	<key>select_wind2_button_y</key>
	<string>79</string>
	<key>select_wind3_button_x</key>
	<string>386</string>
	<key>select_wind3_button_y</key>
	<string>79</string>
	<key>equip_bg_x</key>
	<string>400</string>
	<key>equip_bg_y</key>
	<string>232</string>
	<key>shugun_x</key>
	<string>200</string>
	<key>shugun_y</key>
	<string>172</string>
	<key>fire_select_bg_x</key>
	<string>248</string>
	<key>fire_select_bg_y</key>
	<string>259</string>
	<key>ice_select_bg_x</key>
	<string>248</string>
	<key>ice_select_bg_y</key>
	<string>169</string>
	<key>wind_select_bg_x</key>
	<string>248</string>
	<key>wind_select_bg_y</key>
	<string>79</string>
	<key>label_relative_x</key>
	<string>85</string>
	<key>label_relative_y</key>
	<string>30</string>
	<key>button_relative_x</key>
	<string>90</string>
	<key>button_relative_y</key>
	<string>35</string>
	<key>gold_label_relative_x</key>
	<string>41</string>
	<key>gold_label_relative_y</key>
	<string>49</string>
	<key>stone_label_relative_x</key>
	<string>41</string>
	<key>stone_label_relative_y</key>
	<string>17</string>
	<key>attributesword_relative_x</key>
	<string>392</string>
	<key>attributesword_relative_y</key>
	<string>69</string>
	<key>attribute_tree_bg_relative_x</key>
	<string>484</string>
	<key>attribute_tree_bg_relative_y</key>
	<string>217</string>
	<key>original_label_relative_x</key>
	<string>62</string>
	<key>original_label_relative_y</key>
	<string>15</string>
	<key>added_by_tower_label_relative_x</key>
	<string>62</string>
	<key>added_by_tower_label_relative_y</key>
	<string>56</string>
	<key>attribute_word_num_pos1_x</key>
	<string>317</string>
	<key>attribute_word_num_pos1_y</key>
	<string>66</string>
	<key>attribute_word_num_pos2_x</key>
	<string>337</string>
	<key>attribute_word_num_pos2_y</key>
	<string>66</string>
	<key>attribute_word_num_next_pos1_x</key>
	<string>302</string>
	<key>attribute_word_num_next_pos1_y</key>
	<string>43</string>
	<key>attribute_word_num_next_pos2_x</key>
	<string>302</string>
	<key>attribute_word_num_next_pos2_y</key>
	<string>43</string>
	<key>attribute_word_num_multi_pos_x</key>
	<string>419</string>
	<key>attribute_word_num_multi_pos_y</key>
	<string>66</string>
	<key>attribute_word_num_multi_next_pos_x</key>
	<string>404</string>
	<key>attribute_word_num_multi_next_pos_y</key>
	<string>43</string>
	<key>gold_and_stone_pic_x</key>
	<string>616</string>
	<key>gold_and_stone_pic_y</key>
	<string>90</string>
	<key>gold_and_stone_cost_num_x</key>
	<string>635</string>
	<key>gold_and_stone_cost_num_y</key>
	<string>90</string>
</dict>
</plist>
