<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>teng_00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,244},{320,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,240}}</string>
			<key>sourceSize</key>
			<string>{320,240}</string>
		</dict>
		<key>teng_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,244},{320,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,240}}</string>
			<key>sourceSize</key>
			<string>{320,240}</string>
		</dict>
		<key>teng_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,244},{320,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,240}}</string>
			<key>sourceSize</key>
			<string>{320,240}</string>
		</dict>
		<key>teng_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,2},{320,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,240}}</string>
			<key>sourceSize</key>
			<string>{320,240}</string>
		</dict>
		<key>teng_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,2},{320,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,240}}</string>
			<key>sourceSize</key>
			<string>{320,240}</string>
		</dict>
		<key>teng_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{320,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,240}}</string>
			<key>sourceSize</key>
			<string>{320,240}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>chanrao.pvr.ccz</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0b2f4e2f7882671ae36a34292442830e$</string>
		<key>textureFileName</key>
		<string>chanrao.pvr.ccz</string>
	</dict>
</dict>
</plist>
