<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chuansongzou_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,314},{154,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,154}}</string>
			<key>sourceSize</key>
			<string>{154,154}</string>
		</dict>
		<key>chuansongzou_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,158},{154,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,154}}</string>
			<key>sourceSize</key>
			<string>{154,154}</string>
		</dict>
		<key>chuansongzou_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,2},{154,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,154}}</string>
			<key>sourceSize</key>
			<string>{154,154}</string>
		</dict>
		<key>chuansongzou_0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,2},{154,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,154}}</string>
			<key>sourceSize</key>
			<string>{154,154}</string>
		</dict>
		<key>chuansongzou_0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,314},{154,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,154}}</string>
			<key>sourceSize</key>
			<string>{154,154}</string>
		</dict>
		<key>chuansongzou_0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,158},{154,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,154}}</string>
			<key>sourceSize</key>
			<string>{154,154}</string>
		</dict>
		<key>chuansongzou_0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{154,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,154}}</string>
			<key>sourceSize</key>
			<string>{154,154}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>chuansongzou.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:51c3923e4d2968fc35c1b3b9a4da25e4$</string>
		<key>textureFileName</key>
		<string>chuansongzou.pvr.ccz</string>
	</dict>
</dict>
</plist>
