<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuansong_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,258},{107,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,126}}</string>
                <key>sourceSize</key>
                <string>{107,126}</string>
            </dict>
            <key>chuansong_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{107,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,126}}</string>
                <key>sourceSize</key>
                <string>{107,126}</string>
            </dict>
            <key>chuansong_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,130},{107,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,126}}</string>
                <key>sourceSize</key>
                <string>{107,126}</string>
            </dict>
            <key>chuansong_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{107,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,126}}</string>
                <key>sourceSize</key>
                <string>{107,126}</string>
            </dict>
            <key>chuansong_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{107,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,126}}</string>
                <key>sourceSize</key>
                <string>{107,126}</string>
            </dict>
            <key>chuansong_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,126}}</string>
                <key>sourceSize</key>
                <string>{107,126}</string>
            </dict>
            <key>chuansong_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{107,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,126}}</string>
                <key>sourceSize</key>
                <string>{107,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuansong.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc4f108b5c5f0a9610767e8f055b940d$</string>
            <key>textureFileName</key>
            <string>chuansong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
