<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mofadun_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,193},{189,452}}</string>
			<key>offset</key>
			<string>{-7,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,17},{189,452}}</string>
			<key>sourceSize</key>
			<string>{203,526}</string>
		</dict>
		<key>mofadun_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,2},{189,456}}</string>
			<key>offset</key>
			<string>{-7,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,15},{189,456}}</string>
			<key>sourceSize</key>
			<string>{203,526}</string>
		</dict>
		<key>mofadun_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,470},{191,462}}</string>
			<key>offset</key>
			<string>{-6,20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{191,462}}</string>
			<key>sourceSize</key>
			<string>{203,526}</string>
		</dict>
		<key>mofadun_0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{193,466}}</string>
			<key>offset</key>
			<string>{-5,20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{193,466}}</string>
			<key>sourceSize</key>
			<string>{203,526}</string>
		</dict>
		<key>mofadun_0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,470},{191,462}}</string>
			<key>offset</key>
			<string>{-6,20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{191,462}}</string>
			<key>sourceSize</key>
			<string>{203,526}</string>
		</dict>
		<key>mofadun_0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,2},{189,458}}</string>
			<key>offset</key>
			<string>{-7,20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{189,458}}</string>
			<key>sourceSize</key>
			<string>{203,526}</string>
		</dict>
		<key>shui_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,94},{14,14}}</string>
			<key>offset</key>
			<string>{-20,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,54},{14,14}}</string>
			<key>sourceSize</key>
			<string>{68,74}</string>
		</dict>
		<key>shui_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,126},{30,34}}</string>
			<key>offset</key>
			<string>{-13,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,34},{30,34}}</string>
			<key>sourceSize</key>
			<string>{68,74}</string>
		</dict>
		<key>shui_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{934,68},{56,60}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,8},{56,60}}</string>
			<key>sourceSize</key>
			<string>{68,74}</string>
		</dict>
		<key>shui_0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{934,126},{48,46}}</string>
			<key>offset</key>
			<string>{5,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,7},{48,46}}</string>
			<key>sourceSize</key>
			<string>{68,74}</string>
		</dict>
		<key>shui_0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,68},{26,24}}</string>
			<key>offset</key>
			<string>{16,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,8},{26,24}}</string>
			<key>sourceSize</key>
			<string>{68,74}</string>
		</dict>
		<key>shuimian_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,68},{84,64}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,19},{84,64}}</string>
			<key>sourceSize</key>
			<string>{90,86}</string>
		</dict>
		<key>shuimian_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{934,2},{84,64}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,19},{84,64}}</string>
			<key>sourceSize</key>
			<string>{90,86}</string>
		</dict>
		<key>shuimian_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,2},{84,64}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,19},{84,64}}</string>
			<key>sourceSize</key>
			<string>{90,86}</string>
		</dict>
		<key>shuimian_0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,934},{84,66}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,17},{84,66}}</string>
			<key>sourceSize</key>
			<string>{90,86}</string>
		</dict>
		<key>shuimian_0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,934},{84,72}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,11},{84,72}}</string>
			<key>sourceSize</key>
			<string>{90,86}</string>
		</dict>
		<key>shuimian_0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,934},{84,76}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,7},{84,76}}</string>
			<key>sourceSize</key>
			<string>{90,86}</string>
		</dict>
		<key>shuimian_0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,934},{84,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{84,80}}</string>
			<key>sourceSize</key>
			<string>{90,86}</string>
		</dict>
		<key>shuimian_0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,934},{84,84}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{84,84}}</string>
			<key>sourceSize</key>
			<string>{90,86}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>mofa.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:efd3d3b94d18ce5d29c99aed6cb38d0a$</string>
		<key>textureFileName</key>
		<string>mofa.pvr.ccz</string>
	</dict>
</dict>
</plist>
