<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>santouquan_run_0006.png</key>
		<dict>
			<key>x</key>
			<integer>653</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>182</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>19</real>
			<key>offsetY</key>
			<real>-28</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_attack_0001.png</key>
		<dict>
			<key>x</key>
			<integer>465</integer>
			<key>y</key>
			<integer>494</integer>
			<key>width</key>
			<integer>184</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>14</real>
			<key>offsetY</key>
			<real>-36</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_attack_0002.png</key>
		<dict>
			<key>x</key>
			<integer>465</integer>
			<key>y</key>
			<integer>850</integer>
			<key>width</key>
			<integer>183</integer>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<real>14.5</real>
			<key>offsetY</key>
			<real>-36</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_attack_0003.png</key>
		<dict>
			<key>x</key>
			<integer>836</integer>
			<key>y</key>
			<integer>618</integer>
			<key>width</key>
			<integer>136</integer>
			<key>height</key>
			<integer>174</integer>
			<key>offsetX</key>
			<real>61</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_attack_0004.png</key>
		<dict>
			<key>x</key>
			<integer>836</integer>
			<key>y</key>
			<integer>793</integer>
			<key>width</key>
			<integer>131</integer>
			<key>height</key>
			<integer>179</integer>
			<key>offsetX</key>
			<real>58.5</real>
			<key>offsetY</key>
			<real>10.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_attack_0005.png</key>
		<dict>
			<key>x</key>
			<integer>836</integer>
			<key>y</key>
			<integer>440</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>177</integer>
			<key>offsetX</key>
			<real>43</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_attack_0006.png</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>307</integer>
			<key>width</key>
			<integer>195</integer>
			<key>height</key>
			<integer>171</integer>
			<key>offsetX</key>
			<real>-6.5</real>
			<key>offsetY</key>
			<real>-42.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_attack_0007.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>635</integer>
			<key>width</key>
			<integer>244</integer>
			<key>height</key>
			<integer>151</integer>
			<key>offsetX</key>
			<real>-18</real>
			<key>offsetY</key>
			<real>-59.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_attack_0008.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>160</integer>
			<key>width</key>
			<integer>254</integer>
			<key>height</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>-19</real>
			<key>offsetY</key>
			<real>-62.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_attack_0009.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>260</integer>
			<key>height</key>
			<integer>158</integer>
			<key>offsetX</key>
			<real>-20</real>
			<key>offsetY</key>
			<real>-62</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_attack_0010.png</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>877</integer>
			<key>width</key>
			<integer>187</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>21.5</real>
			<key>offsetY</key>
			<real>-29.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_deid_0001.png</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>589</integer>
			<key>width</key>
			<integer>189</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>23.5</real>
			<key>offsetY</key>
			<real>-32</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_deid_0002.png</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>708</integer>
			<key>width</key>
			<integer>188</integer>
			<key>height</key>
			<integer>168</integer>
			<key>offsetX</key>
			<real>39</real>
			<key>offsetY</key>
			<real>-23</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_deid_0003.png</key>
		<dict>
			<key>x</key>
			<integer>653</integer>
			<key>y</key>
			<integer>241</integer>
			<key>width</key>
			<integer>177</integer>
			<key>height</key>
			<integer>186</integer>
			<key>offsetX</key>
			<real>36.5</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_deid_0004.png</key>
		<dict>
			<key>x</key>
			<integer>836</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>174</integer>
			<key>height</key>
			<integer>207</integer>
			<key>offsetX</key>
			<real>37</real>
			<key>offsetY</key>
			<real>13.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_deid_0005.png</key>
		<dict>
			<key>x</key>
			<integer>836</integer>
			<key>y</key>
			<integer>209</integer>
			<key>width</key>
			<integer>165</integer>
			<key>height</key>
			<integer>230</integer>
			<key>offsetX</key>
			<real>43.5</real>
			<key>offsetY</key>
			<real>26</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_deid_0006.png</key>
		<dict>
			<key>x</key>
			<integer>653</integer>
			<key>y</key>
			<integer>428</integer>
			<key>width</key>
			<integer>177</integer>
			<key>height</key>
			<integer>225</integer>
			<key>offsetX</key>
			<real>37.5</real>
			<key>offsetY</key>
			<real>21.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_deid_0007.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>787</integer>
			<key>width</key>
			<integer>235</integer>
			<key>height</key>
			<integer>187</integer>
			<key>offsetX</key>
			<real>23.5</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_deid_0008.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>314</integer>
			<key>width</key>
			<integer>254</integer>
			<key>height</key>
			<integer>169</integer>
			<key>offsetX</key>
			<real>23</real>
			<key>offsetY</key>
			<real>-29.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_deid_0009.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>484</integer>
			<key>width</key>
			<integer>248</integer>
			<key>height</key>
			<integer>150</integer>
			<key>offsetX</key>
			<real>24</real>
			<key>offsetY</key>
			<real>-43</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_hit_0001.png</key>
		<dict>
			<key>x</key>
			<integer>465</integer>
			<key>y</key>
			<integer>732</integer>
			<key>width</key>
			<integer>184</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>21</real>
			<key>offsetY</key>
			<real>-32.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_ice_0001.png</key>
		<dict>
			<key>x</key>
			<integer>465</integer>
			<key>y</key>
			<integer>376</integer>
			<key>width</key>
			<integer>184</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>21</real>
			<key>offsetY</key>
			<real>-32.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_jump_0001.png</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>479</integer>
			<key>width</key>
			<integer>193</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>25.5</real>
			<key>offsetY</key>
			<real>-36.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_jump_0002.png</key>
		<dict>
			<key>x</key>
			<integer>653</integer>
			<key>y</key>
			<integer>654</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>178</integer>
			<key>offsetX</key>
			<real>20</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_jump_0003.png</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>202</integer>
			<key>height</key>
			<integer>164</integer>
			<key>offsetX</key>
			<real>23</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_jump_0004.png</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>198</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>26</real>
			<key>offsetY</key>
			<real>-20</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_jump_0005.png</key>
		<dict>
			<key>x</key>
			<integer>653</integer>
			<key>y</key>
			<integer>126</integer>
			<key>width</key>
			<integer>181</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>19.5</real>
			<key>offsetY</key>
			<real>-34</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_run_0001.png</key>
		<dict>
			<key>x</key>
			<integer>465</integer>
			<key>y</key>
			<integer>126</integer>
			<key>width</key>
			<integer>187</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>21.5</real>
			<key>offsetY</key>
			<real>-29.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_run_0002.png</key>
		<dict>
			<key>x</key>
			<integer>465</integer>
			<key>y</key>
			<integer>248</integer>
			<key>width</key>
			<integer>187</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>19.5</real>
			<key>offsetY</key>
			<real>-26.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_run_0003.png</key>
		<dict>
			<key>x</key>
			<integer>465</integer>
			<key>y</key>
			<integer>605</integer>
			<key>width</key>
			<integer>184</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>18</real>
			<key>offsetY</key>
			<real>-28</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_run_0004.png</key>
		<dict>
			<key>x</key>
			<integer>465</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>187</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>19.5</real>
			<key>offsetY</key>
			<real>-30</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
		<key>santouquan_run_0005.png</key>
		<dict>
			<key>x</key>
			<integer>653</integer>
			<key>y</key>
			<integer>833</integer>
			<key>width</key>
			<integer>175</integer>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>15.5</real>
			<key>offsetY</key>
			<real>-28</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>282</integer>
		</dict>
	</dict>
</dict>
</plist>