<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>xuanyun_0001.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>221</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>33</integer>
		</dict>
		<key>xuanyun_0002.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>125</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>33</integer>
		</dict>
		<key>xuanyun_0003.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>194</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>33</integer>
		</dict>
		<key>xuanyun_0004.png</key>
		<dict>
			<key>x</key>
			<integer>184</integer>
			<key>y</key>
			<integer>159</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>33</integer>
		</dict>
		<key>xuanyun_0005.png</key>
		<dict>
			<key>x</key>
			<integer>185</integer>
			<key>y</key>
			<integer>90</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>33</integer>
		</dict>
		<key>zhuoshang_0002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>117</integer>
			<key>width</key>
			<integer>95</integer>
			<key>height</key>
			<integer>107</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>95</integer>
			<key>originalHeight</key>
			<integer>115</integer>
		</dict>
		<key>zhuoshang_0003.png</key>
		<dict>
			<key>x</key>
			<integer>87</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>95</integer>
			<key>originalHeight</key>
			<integer>115</integer>
		</dict>
		<key>zhuoshang_0004.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>115</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>95</integer>
			<key>originalHeight</key>
			<integer>115</integer>
		</dict>
		<key>zhuoshang_0005.png</key>
		<dict>
			<key>x</key>
			<integer>172</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>84</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>95</integer>
			<key>originalHeight</key>
			<integer>115</integer>
		</dict>
		<key>zhuoshang_0001.png</key>
		<dict>
			<key>x</key>
			<integer>97</integer>
			<key>y</key>
			<integer>117</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>95</integer>
			<key>originalHeight</key>
			<integer>115</integer>
		</dict>
	</dict>
</dict>
</plist>