<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>toushiche_attack_0001.png</key>
		<dict>
			<key>x</key>
			<integer>496</integer>
			<key>y</key>
			<integer>396</integer>
			<key>width</key>
			<integer>163</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>-37</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_attack_0002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>167</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>-26.5</real>
			<key>offsetY</key>
			<real>11</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_attack_0003.png</key>
		<dict>
			<key>x</key>
			<integer>169</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>187</integer>
			<key>offsetX</key>
			<real>-15.5</real>
			<key>offsetY</key>
			<real>10</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_attack_0004.png</key>
		<dict>
			<key>x</key>
			<integer>327</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>154</integer>
			<key>height</key>
			<integer>164</integer>
			<key>offsetX</key>
			<real>-17</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_attack_0005.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>296</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>-34</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_deid_0001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>396</integer>
			<key>width</key>
			<integer>166</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>-14</real>
			<key>offsetY</key>
			<real>-35.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_deid_0002.png</key>
		<dict>
			<key>x</key>
			<integer>202</integer>
			<key>y</key>
			<integer>191</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>-10</real>
			<key>offsetY</key>
			<real>-32.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_deid_0003.png</key>
		<dict>
			<key>x</key>
			<integer>672</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>167</integer>
			<key>height</key>
			<integer>111</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>-31</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_deid_0004.png</key>
		<dict>
			<key>x</key>
			<integer>482</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>189</integer>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-35.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_deid_0005.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>191</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-48.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_deid_0006.png</key>
		<dict>
			<key>x</key>
			<integer>365</integer>
			<key>y</key>
			<integer>191</integer>
			<key>width</key>
			<integer>220</integer>
			<key>height</key>
			<integer>101</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-57</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_deid_0007.png</key>
		<dict>
			<key>x</key>
			<integer>586</integer>
			<key>y</key>
			<integer>191</integer>
			<key>width</key>
			<integer>254</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-61.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_hit_0001.png</key>
		<dict>
			<key>x</key>
			<integer>659</integer>
			<key>y</key>
			<integer>296</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>-34.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_ice_0001.png</key>
		<dict>
			<key>x</key>
			<integer>166</integer>
			<key>y</key>
			<integer>296</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>-34.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_run_0001.png</key>
		<dict>
			<key>x</key>
			<integer>841</integer>
			<key>y</key>
			<integer>191</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>-34</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_run_0002.png</key>
		<dict>
			<key>x</key>
			<integer>495</integer>
			<key>y</key>
			<integer>296</integer>
			<key>width</key>
			<integer>163</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>-34.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_run_0003.png</key>
		<dict>
			<key>x</key>
			<integer>824</integer>
			<key>y</key>
			<integer>296</integer>
			<key>width</key>
			<integer>163</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>-35.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_run_0004.png</key>
		<dict>
			<key>x</key>
			<integer>332</integer>
			<key>y</key>
			<integer>396</integer>
			<key>width</key>
			<integer>163</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>-36</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_run_0005.png</key>
		<dict>
			<key>x</key>
			<integer>168</integer>
			<key>y</key>
			<integer>396</integer>
			<key>width</key>
			<integer>163</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>-35.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>toushiche_run_0006.png</key>
		<dict>
			<key>x</key>
			<integer>331</integer>
			<key>y</key>
			<integer>296</integer>
			<key>width</key>
			<integer>163</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>-34.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>shitou_0001.png</key>
		<dict>
			<key>x</key>
			<integer>775</integer>
			<key>y</key>
			<integer>396</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>shitou_0002.png</key>
		<dict>
			<key>x</key>
			<integer>698</integer>
			<key>y</key>
			<integer>396</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>shitou_0003.png</key>
		<dict>
			<key>x</key>
			<integer>660</integer>
			<key>y</key>
			<integer>396</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>shitou_0004.png</key>
		<dict>
			<key>x</key>
			<integer>736</integer>
			<key>y</key>
			<integer>396</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>shitou_0005.png</key>
		<dict>
			<key>x</key>
			<integer>815</integer>
			<key>y</key>
			<integer>396</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>17</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>22</integer>
		</dict>
	</dict>
</dict>
</plist>