<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>xuqi_0001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>236</integer>
			<key>width</key>
			<integer>236</integer>
			<key>height</key>
			<integer>240</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>321</integer>
		</dict>
		<key>xuqi_0002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>237</integer>
			<key>height</key>
			<integer>234</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>7.5</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>321</integer>
		</dict>
		<key>xuqi_0003.png</key>
		<dict>
			<key>x</key>
			<integer>239</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>152</integer>
			<key>height</key>
			<integer>148</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>321</integer>
		</dict>
		<key>xuqi_0004.png</key>
		<dict>
			<key>x</key>
			<integer>239</integer>
			<key>y</key>
			<integer>150</integer>
			<key>width</key>
			<integer>111</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>10</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>321</integer>
		</dict>
	</dict>
</dict>
</plist>
